<!-- <div class="RescueButton">
<button type="button" (click)="anonymizeFile()" style = "width:180px;height: 45px;background-color:rgb(202, 185, 185); " class="btn btn-outline-secondary mr-2" placement="top"
ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
Call Rescurer
</button>
</div> -->


 
<div class= "Button123">
 <button type="button" (click)="anonymizeFile()" class="btn btn-outline-secondary mr-2" placement="top" style="background-color:#b22222;color: linen;"  ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
  Rescue 
</button>

</div>