<div id="main_container">


  <div id="title">

    <h2> Relax, Rescuers are on the way </h2>

  </div>

  <div id="map"></div>

  <div id="dropdown">
    <h4 style="color: cornflowerblue">Fill the form for help</h4>
    <input [(ngModel)]='userNameToBeAdded' placeholder="Rescuer Name"/>
    <br>
    <mat-form-field appearance="fill">
      <mat-label> Emergency Type</mat-label>
      <mat-select (selectionChange)="changeSelectionOverviewExample($event.value)">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Severity Level</mat-label>
      <mat-select (selectionChange)="changeSelectionSeverity($event.value)">
        <mat-option *ngFor="let item of items" [value]="item.value">
          {{item.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Health Status</mat-label>
      <mat-select (selectionChange)="changeSelectionStatus($event.value)">
        <mat-option *ngFor="let product of products" [value]="product.value">
          {{product.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div class="button1">
      <button type="button" (click)="sendUserDataToBackend()" class="btn btn-outline-secondary mr-2" placement="top"
              style="background-color:#b22222;color: linen;height: 45px;width: 150px;">
        Ask for help
      </button>
    </div>

    <div style="padding-top: 30px; padding-left: 18px">
      <button *ngIf="!ifClicked" type="button" (click)="plotOnMap()" class="btn btn-primary"
              ngbPopover="Displaying all Rescue Centres near you" popoverTitle="Rescue Centres near you">
        Show Nearby Victims
      </button>

    </div>


  </div>

</div>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license
-->


<!-- <router-outlet></router-outlet> -->
