
<div id="main_container">


    <div id="title">

      <h2> Welcome To Disaster Managment Application </h2>

    </div>



    <div id="map"></div>

    <div id="dropdown">

    <h5>Emergency Type </h5>
    <mat-form-field appearance="fill">
      <mat-label>  Select Type </mat-label>
      <mat-select (selectionChange)="changeSelectionOverviewExample($event.value)">
        <mat-option *ngFor="let food of foods" [value]="food.value" >
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <h5> Emergency Severity  </h5>
    <mat-form-field appearance="fill" >
      <mat-label >Select Level</mat-label>
      <mat-select >
        <mat-option *ngFor="let item of items" [value]="item.value">
          {{item.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h5> Victim Health Status </h5>
    <mat-form-field appearance="fill">
      <mat-label>Select Status</mat-label>
      <mat-select>
        <mat-option *ngFor="let product of products" [value]="product.value">
          {{product.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div class = "button1">
      <button type="button"  class="btn btn-outline-secondary mr-2" placement="top" style="background-color:#b22222;color: linen;height: 45px;width: 150px;"  ngbPopover="Please stay on the page for Response from the Rescue Team" popoverTitle="Help request sent">
        Call Rescurer
      </button>
    </div>

      <div class = "button2">
        <button type="button" (click) = "happen()" class="btn btn-outline-secondary mr-2" placement="top" style="background-color:#b22222;color: linen;height: 45px;width: 150px;"  ngbPopover="Displaying all Rescue Centres near you" popoverTitle="Rescue Centres near you">
          Rescue Centers
        </button>

      </div>

    <div id="button3">

       <app-buttons></app-buttons>
    </div>

      <br>
      <br>
      <div>
        <button (click)="getUserNotification()">Show Notification</button>
      </div>


      <div *ngIf="userNotification">
        <h2>{{userNotification}}</h2>
      </div>







     </div>


    </div>


    <!-- Copyright 2020 Google LLC. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->


  <!-- <router-outlet></router-outlet> -->
