#mainContainer{
    height:100%;
    width:100%;

}

/*To centre Logo to the div */
img, svg {
    vertical-align: middle;
    max-width: 102%;
  }

h1 {
    width:500px;
    margin: 0 auto;
    text-align: center;
}

#AddMultipleUsers[_ngcontent-vim-c303] {
    position: relative;
    margin-top: 0%;
    width: 500px;
}

#ClearUsers{
    position:absolute;
    margin-top:-6%;
    margin-left: 86%;
    width: 187px;

}

#ClearRescuers{
    position: absolute;
    margin-top: -6%;
    margin-left: 82%;
    width: 231px;
}
#Chat{
position: absolute;
margin-top: -3%;
margin-left: 42%;
width: 231px;
}

.bg-light {
    background-color: #c5c5bd;
}

