
<div id="mainContainer">


<nav class="navbar navbar-expand-sm navbark-dark" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="admin"> <h4>Admin</h4></a>
<ul class="navbar-nav">
  <li class="nav-item">
    <button class="m-1 btn btn-light btn-outline-primary" Button
    label="UsersAction"
    (click)="UsersAction=true; RescuersAction=false; NotificationAction=false;">
    USER ACTIONS

  </button>
  </li>
  <li class="nav-item">
    <button class="m-1 btn btn-light btn-outline-danger" Button
    label="RescuersAction"
    (click)="UsersAction=false; RescuersAction=true; NotificationAction=false;">
    RESCUER ACTIONS
  </button>
  </li>
<li class="nav-item">
  <button class="m-1 btn btn-light btn-outline-secondary" Button
  label="NotificationAction"
  (click)="UsersAction=false; RescuersAction=flase; NotificationAction=true;">
  NOTIFICATIONS
</button>
</li>
</ul>
</nav>


<!--  <div *ngFor="let qwe of users">-->

<div id="UserActionsContainer" *ngIf="UsersAction" >
  <!-- style="background-position:100%;background-repeat:no-repeat;background-image:url('./assets/img/background.png')" -->
  <!-- <img src=”src/assets/img/background.png”> -->

  <br>
  <div style=color:#0d6efd >
    <h1>Users component active</h1>
  </div>
  <br>


    <div id="AddMultipleUsers">
    <h3>
      Add Mutiple Users
    </h3>

      <button class="btn btn-primary" (click) = "addMultipleUser()"> Add Multiple Users</button>

    <br>
    <div id="ClearUsers">
    <h3>
      Clear All Users
    </h3>

      <button class="btn btn-primary" (click) = "clearAllUsers()"> Clear All Users</button>
    </div>
  </div>

  <br>



<table  class="table table-bordered mat-elevation-z8" *ngIf="userArray">
  <thead >
  <th><h5>User Name</h5></th>
  <th><h5>Latitude</h5></th>
  <th><h5>Longitude</h5></th>
  <th><h5>EmergencyType</h5></th>
  <th><h5>EmergencySeverity</h5></th>
  <th><h5>VictimHealthStatus</h5></th>
  </thead>
  <tbody>

  <tr *ngFor="let users of userArray">
    <td>{{users.userName}}</td>
    <td>{{users.latitude}}</td>
    <td>{{users.longitude}}</td>
    <td>{{users.emergencyType}}</td>
    <td>{{users.emergencySeverity}}</td>
    <td>{{users.victimHealthStatus}}</td>
  </tr>
</tbody>
</table>

<br><br>



<br>



<h2>
  Add a User
</h2>
<div>

  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
    </div>
    <input [(ngModel)]='userNameToBeAdded' type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Latitude</span>
    </div>
    <input [(ngModel)]='latitude' type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Longitude</span>
    </div>
    <input [(ngModel)]='longitude' type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">EmergencyType</span>
    </div>
    <input [(ngModel)]='useremergencyType' type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Severity</span>
    </div>
    <input [(ngModel)]='useremergencySeverity' type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">HealthStatus</span>
    </div>
    <input [(ngModel)]='uservictimHealthStatus' type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

  </div>

 <div>

 </div>

 <button class="btn btn-primary" (click) = "addUser()"> Update User</button>
  </div>

  <!-- <label>UserName:
    <input [(ngModel)]='userNameToBeAdded' placeholder="User Name"/>
  </label>
  <label>Latitude:
    <input [(ngModel)]='latitude' placeholder="latitude"/>
  </label>
  <label>Longitude:
    <input [(ngModel)]='longitude' placeholder="longitude"/>
  </label>
  <label>Emergency Type:
    <input [(ngModel)]='useremergencyType' placeholder="emergency type"/>
  </label>
  <label>Serverity:
    <input [(ngModel)]='useremergencySeverity' placeholder="serverity"/>
  </label>
  <label>Health Status:
    <input [(ngModel)]='uservictimHealthStatus' placeholder="health status"/>
  </label>

  <button (click) = "addUser()"> Remove/Update User</button>  -->
<br>
  <div>
    <h2>
      Delete a User
    </h2>
      <div>
          <input class="form-control" [(ngModel)]='userNameToBeDeleted' placeholder="User Name"/>
         <div>
          <br>

        <button class="btn btn-primary" (click) = "deleteUser()"> Remove User</button>
          </div>
      </div>

    </div>

</div>

<!-- --------------------------UserCOmponent Ends---------------------------- -->




<!--                  Rescuer Component Starts                         -->

<br>

<div *ngIf="RescuersAction">

<div style="color:#dc3545;">
  <h1>Rescuers component active</h1>
</div>

<br>


<div id="AddMultipleUsers">
  <h3>
    Add Mutiple Rescuers
  </h3>

    <button class="btn btn-danger" (click) = "addMultipleRescuer()"> Add Multiple Rescuers</button>

  <br>
  <div>
    <h3>
      Clear All Rescuers
    </h3>
    <button class="btn btn-danger" (click) = "clearAllRescuer()"> Clear All Rescuers</button>
  </div>
  <br>

  <div>
    <h3>
      Start Chatting
    </h3>
    <button class="btn btn-success" (click)="this.startChat()"> Start Chat</button>
  </div>

</div>

<br>



<!--  <div *ngFor="let qwe of rescuers">-->
<table class="table table-bordered mat-elevation-z8" *ngIf="rescuerArray">

  <th><h5>Rescue Name</h5></th>
  <th><h5>Latitude</h5></th>
  <th><h5>Longitude</h5></th>
  <th><h5>Status</h5></th>


  <tbody>
  <tr *ngFor="let rescuer of rescuerArray">
    <td>{{rescuer.rescuerName}}</td>
    <td>{{rescuer.latitude}}</td>
    <td>{{rescuer.longitude}}</td>
    <td>{{rescuer.status}}</td>
  </tr>
</tbody>
</table>

<br><br>





<!-- -------Add Rescuer-------- -->
<h2>
  Add a Rescuer
</h2>
<div>

  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
    </div>
    <input [(ngModel)]='rescuerNameToBeAdded' type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Latitude</span>
    </div>
    <input [(ngModel)]='rescuerlatitude' type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Longitude</span>
    </div>
    <input [(ngModel)]='rescuerlongitude' type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">EmergencyType</span>
    </div>
    <input [(ngModel)]='useremergencyType' type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Severity</span>
    </div>
    <input [(ngModel)]='useremergencySeverity' type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">HealthStatus</span>
    </div>
    <input [(ngModel)]='uservictimHealthStatus' type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">

  </div>

 <div>

 </div>

 <button class="btn btn-danger" (click) = "addRescuer()"> Update Rescuers</button>
  </div>

<!-- ---------Add Rescuer End--------- -->

<br>
  <div>
    <h2>
      Delete a Rescuer
    </h2>
      <div>
          <input class="form-control" [(ngModel)]='userNameToBeDeleted' placeholder="User Name"/>
         <div>
          <br>

        <button class="btn btn-danger" (click) = "deleteRescuer()"> Remove Rescuers</button>
          </div>
      </div>

    </div>



  </div>


<!-- <h2>
  Add a Rescuer
</h2>
<div>
  <label>Rescuer Name:
    <input [(ngModel)]='rescuerNameToBeAdded' placeholder="Rescuer Name"/>
  </label>
  <label>Latitude:
    <input [(ngModel)]='rescuerlatitude' placeholder="latitude"/>
  </label>
  <label>Longitude:
    <input [(ngModel)]='rescuerlongitude' placeholder="longitude"/>
  </label>
  <label>Rescuer Status:
    <input [(ngModel)]='rescuerstatus' placeholder="Rescuer Status"/>
  </label>
  <label>Password:
    <input [(ngModel)]='rescuerpassword' placeholder="Password"/>
  </label>
  <button (click) = "addRescuer()"> Remove/Update Rescuer</button>
</div>

<div>
  <h2>Update Rescuer Status</h2>
  <label>Rescuer Name:
    <input [(ngModel)]='rescuerNameForStatus' placeholder="Rescuer Name"/>
  </label>
  <label>Rescuer Status:
    <input [(ngModel)]='rescuerstatusToUpdate' placeholder="Rescuer Status"/>
  </label>
  <button (click) = "UpdateRescuerStatus()"> Update Rescuer Status</button>

</div>




<br> -->




<!--                  Rescuer Component Ends                           -->

<div *ngIf="NotificationAction">

<div style=color:grey>
<h1>Notification sender</h1>
</div>

<br>
<br> <br>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Notification Message</span>
  </div>
  <textarea input type ="text" [(ngModel)]='notificationMessage' class="form-control" aria-label="With textarea"></textarea>

</div>

<!-- <div>
  <label>Notification Message:
    <input type ="text" [(ngModel)]='notificationMessage' placeholder="Notification Message"/>
  </label>
</div> -->

<br>
<div>
  <button class="btn btn-primary"(click) = "sendNotificationToUser()"> Send Notification to User</button>
  <button class="btn btn-danger"(click) = "sendNotificationToRescuer()"> Send Notification to Rescuer</button>
</div>
<br><br>
<div id="getAllNotificationsButton" style="margin-left: 43%;">
  <button class="btn btn-secondary" (click) = "getAllNotification()">Get All Notifications</button>
</div>
<br>

<table class="table table-bordered border-dark mat-elevation-z8" *ngIf="notificationMessages">
  <th><h5>Notification Message</h5></th>
  <th><h5>Receiver</h5></th>

  <tbody>
  <tr *ngFor="let notification of notificationMessages">
    <td>{{notification.notificationMessage}}</td>
    <td>{{notification.receiver}}</td>
  </tr>
</tbody>
</table>

</div>

</div>
