<div>
  <h1>Users component active</h1>
</div>

<!--  <div *ngFor="let qwe of users">-->
<table *ngIf="userArray">
  <th>User Name</th>
  <th>Latitude</th>
  <th>Longitude</th>
  <th>emergencyType</th>
  <th>emergencySeverity</th>
  <th>victimHealthStatus</th>


  <tr *ngFor="let users of userArray">
    <td>{{users.userName}}</td>
    <td>{{users.latitude}}</td>
    <td>{{users.longitude}}</td>
    <td>{{users.emergencyType}}</td>
    <td>{{users.emergencySeverity}}</td>
    <td>{{users.victimHealthStatus}}</td>
  </tr>
</table>

<br><br>

<div>
  <h2>
    Add Mutiple Users
  </h2>
  <div>
    <button (click) = "addMultipleUser()"> Add Multiple Users</button>
  </div>

  <br>
  <h2>
    Clear All Users
  </h2>
  <div>
    <button (click) = "clearAllUsers()"> Clear All Users</button>
  </div>
</div>

<br>

<div>
<h2>
  Delete a User
</h2>
  <div>
    <label>UserName:
      <input [(ngModel)]='userNameToBeDeleted' placeholder="User Name"/>
    </label>

    <button (click) = "deleteUser()"> Remove User</button>
  </div>

</div>

<h2>
  Add a User
</h2>
<div>
  <label>UserName:
    <input [(ngModel)]='userNameToBeAdded' placeholder="User Name"/>
  </label>
  <label>Latitude:
    <input [(ngModel)]='latitude' placeholder="latitude"/>
  </label>
  <label>Longitude:
    <input [(ngModel)]='longitude' placeholder="longitude"/>
  </label>
  <label>Emergency Type:
    <input [(ngModel)]='useremergencyType' placeholder="emergency type"/>
  </label>
  <label>Serverity:
    <input [(ngModel)]='useremergencySeverity' placeholder="serverity"/>
  </label>
  <label>Health Status:
    <input [(ngModel)]='uservictimHealthStatus' placeholder="health status"/>
  </label>

  <button (click) = "addUser()"> Remove/Update User</button>
</div>


<br>
<br>

<div>
  <h1>Rescuers component active</h1>
</div>

<!--  <div *ngFor="let qwe of rescuers">-->
<table *ngIf="rescuerArray">
  <th>Rescue Name</th>
  <th>Latitude</th>
  <th>Longitude</th>
  <th>Status</th>

  <tr *ngFor="let rescuer of rescuerArray">
    <td>{{rescuer.rescuerName}}</td>
    <td>{{rescuer.latitude}}</td>
    <td>{{rescuer.longitude}}</td>
    <td>{{rescuer.status}}</td>
  </tr>
</table>

<br><br>

<div>
  <h2>
    Delete a Rescuer
  </h2>
  <div>
    <label>RescuerName:
      <input [(ngModel)]='rescuerNameToBeDeleted' placeholder="Rescuer Name"/>
    </label>

    <button (click) = "deleteRescuer()"> Remove Rescuer</button>
  </div>

</div>

<h2>
  Add a Rescuer
</h2>
<div>
  <label>Rescuer Name:
    <input [(ngModel)]='rescuerNameToBeAdded' placeholder="Rescuer Name"/>
  </label>
  <label>Latitude:
    <input [(ngModel)]='rescuerlatitude' placeholder="latitude"/>
  </label>
  <label>Longitude:
    <input [(ngModel)]='rescuerlongitude' placeholder="longitude"/>
  </label>
  <label>Rescuer Status:
    <input [(ngModel)]='rescuerstatus' placeholder="Rescuer Status"/>
  </label>
  <label>Password:
    <input [(ngModel)]='rescuerpassword' placeholder="Password"/>
  </label>
  <button (click) = "addRescuer()"> Remove/Update Rescuer</button>
</div>

<div>
  <h2>Update Rescuer Status</h2>
  <label>Rescuer Name:
    <input [(ngModel)]='rescuerNameForStatus' placeholder="Rescuer Name"/>
  </label>
  <label>Rescuer Status:
    <input [(ngModel)]='rescuerstatusToUpdate' placeholder="Rescuer Status"/>
  </label>
  <button (click) = "UpdateRescuerStatus()"> Update Rescuer Status</button>

</div>


<div>
  <h2>
    Add Mutiple rescuers
  </h2>
  <div>
    <button (click) = "addMultipleRescuer()"> Add Multiple Rescuers</button>
  </div>

  <br>
  <h2>
    Clear All Rescuers
  </h2>
  <div>
    <button (click) = "clearAllRescuer()"> Clear All Rescuers</button>
  </div>
</div>

<br>

<h1>Notification sender</h1>

<div>
  <label>Notification Message:
    <input type ="text" [(ngModel)]='notificationMessage' placeholder="Notification Message"/>
  </label>

  <button (click) = "sendNotificationToUser()"> Send Notification to User</button>
  <button (click) = "sendNotificationToRescuer()"> Send Notification to Rescuer</button>
</div>

<div>
  <button (click) = "getAllNotification()">Get All Notifications</button>
</div>
<table *ngIf="notificationMessages">
  <th>Notification Message</th>
  <th>Receiver</th>

  <tr *ngFor="let notification of notificationMessages">
    <td>{{notification.notificationMessage}}</td>
    <td>{{notification.receiver}}</td>
  </tr>
</table>


